#!/usr/bin/env zsh

# Change brightness of Apple Cinema Display
function bright() {
  acdcontrol /dev/usb/hiddev$1 $2;
}

# Create a directory and cd into it.
function mcd {
  if [ ! -n "$1" ]; then
    echo "Usage: mcd directory"
    echo "FATAL: Did not pass directory"
    return 1
  elif [ -n "$2" ]; then
    echo "Usage: mcd directory"
    echo "FATAL: Too many arguments"
    return 1
  elif [ -d $1 ]; then
    echo "'$1' already exists"
    return 1
  else
    mkdir -p $1 && cd $1
  fi
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@" | sort -h;
	else
		du $arg .[^.]* ./* | sort -h;
	fi;
}